<div class="container-fluid w-50 border rounded shadow mt-5 p-4 bg-light">  
  <h2 class="text-center">Edit <%= resource_name.to_s.humanize %></h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="text-center">
      <% if resource.avatar.attached? %>
      <img src="<%= (url_for(resource.avatar)) %>" style="width: 150px; height: 150px;" class="rounded-circle shadow-4" alt="username">
      <% else %>   
      <%= image_tag "user.png" %>  
      <% end %>  
    </div>    
    <br>
    <div class="row mb-4">
      <div class="col">
        <div class="form-outline" >
          <%= f.label :first_name %><br />
          <%= f.text_field :first_name, autofocus: true, class: "form-control" %>
        </div>
      </div>
      <div class="col">
        <div class="form-outline">
          <%= f.label :last_name %><br />
          <%= f.text_field :last_name, autofocus: true, class: "form-control" %>
        </div>
      </div>
    </div>

    <div class="form-outline mb-4">
      <%= f.label :Profile_photo %><br />
      <%= f.file_field :avatar %>
    </div>

    <div class="form-outline mb-4">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
    </div> 
    
    <div class="form-outline mb-4">
      <%= f.label :phone %><br />
      <%= f.text_field :phone, autofocus: true, class: "form-control" %>
    </div>

    <div class="form-outline mb-4">
      <%= f.label :country%><br />
      <%= f.country_select :country, {},  class: "dropdown-item" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="row mb-4">
      <div class="col">
        <div class="form-outline" >
          <%= f.label :new_password %> <br />
          <%= f.password_field :password, autocomplete: "new-password", class: "form-control"  %>
          <% if @minimum_password_length %>
            <br />
            <em><%= @minimum_password_length %> characters minimum</em>
          <% end %>
        </div>
      </div>
      <div class="col">
        <div class="form-outline">
          <%= f.label :new_password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control"  %>
        </div>
      </div>
    </div>

    <div lass="form-outline mb-4">
      <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
      <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control"  %>
    </div>
    <br>
    <div class="actions mb-2 text-center">
      <%= f.submit "Update",class: 'btn btn-primary btn-block mb-4' %>
    </div>
  <% end %>

  <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-primary btn-block mb-4'  %></p>

  <%= link_to "Back", :back %>
</div>