<table class="table">
	<thead>
		<tr>
			<th scope="col"><%= sortable "id", "User Id" %></th>
			<th scope="col"><%= sortable "first_name", "Name" %></th>
			<th scope="col"><%= sortable "email", "Email" %></th>
			<th scope="col"><%= sortable "phone", "Phone" %></th>
			<th scope="col"><%= sortable "country", "Country" %></th>
			<th scope="col"><%= sortable "created_at", "Created" %></th>
			<th scope="col"><%= sortable "type", "Role" %></th>
			<th scope="col"><%= sortable "confirmed_at", "Confirmation status" %></th>
			<th scope="col">Actions</th>
		</tr>
	</thead>
	<% @users.each do |user| %>
		<tbody>
			<tr>
				<th scope="row"><%= user.id %></th>
				<td><%= user.first_name %> <%= user.last_name %></td>
				<td><%= user.email %></td>
				<td><%= user.phone %></td>
				<td><%= user.country %></td>
				<td><%= user.created_at.to_date %></td>
				<td><%= user.type %></td>
				<td><%= user.confirmed_at %></td>
				<td>
					<%= link_to "Click me", admin_user_path(user) %>
					<%= link_to "Edit  me", edit_admin_user_path(user) %>
					<%= link_to "Delete User", admin_user_path(user), method: :delete, data: {Confirm: "Are you sure?"}  %>
				</td>
			</tr>
		</tbody>	
  <% end %>
</table> 
<%= paginate @users %>