<div class="container-fluid w-25 border rounded shadow mt-5 p-4 bg-light  text-center">  
	<%= render 'profile_pic' %>
  
	<h3>User:<%= @user.id %></h3>
	<p> First Name: <%= @user.first_name %></p>
	<p> Last Name: <%= @user.last_name %></p>
	<p> Email: <%= @user.email %></p>
</div>	
