<div class="container-fluid w-75 border rounded shadow mt-5 p-4 bg-light ">
  <table class="table">
		<%= form_tag admin_camps_path, method: :get do %>
		<div class="row">
			<div class="col">
				<div class="input-group input-group-sm" style="width: 250px;">
					<%= search_field_tag :search, params[:search], placeholder: 'Search here', class: 'form-control' %>
					<%= submit_tag "search", class: "btn btn-success"%>
				</div>
			</div>
			<div class="col">
				<div class="input-group input-group-sm" style="width: 250px; margin-left: 80%;">
					<%= link_to "Add camp", new_admin_camp_path,  class: "btn btn-success mb-1 " %>
				</div>
        <div class="input-group input-group-sm" style="width: 250px; margin-left: 71%;">
          <%= link_to("Generate Report", admin_camps_path(format: :csv), class: "btn btn-success",) %>
				</div>
			</div>	
		</div>

		<% end %>
		<thead>
			<tr style="text-decoration:none ;">
				<th scope="col"><%= sortable "id", "Camp Id" %></th>
				<th scope="col"><%= sortable "camp_title", "Camp Title" %></th>
				<th scope="col"><%= sortable "camp_type", "Camp Type" %></th>
        <th scope="col"><%= sortable "locations", "Locations" %></th>
        <th scope="col"><%= sortable "status", "Status" %></th>
				<th scope="col"><%= sortable "applicant_registration_date", "Registration Date" %></th>
        <th scope="col"><%= sortable "created_at", "Created" %></th>
				<th scope="col">Actions</th>
			</tr>
		</thead>
		<tbody id="camps">
      <%= render 'camps' %>
    </tbody>
	</table> 
	<%= paginate @camps, theme: 'bootstrap-5' %>
</div>
