<!DOCTYPE html>
<html>
  <head>
    <title>Campencounters</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="layout1"  >
    <%= render "navbar/navbar" %>
    
    <p style="z-index: 222; " class="notice text-white"><%= notice %></p>
    <p style="z-index: 223;" class="alert text-white"><%= alert %></p>

    <%= yield %>
  </div>
  </body>
</html>
